@import 'variables';
@import 'breakpoints';

.background {
  font-size: 6em;
  line-height: 0.75;
  word-break: break-all;
  user-select: none;
  letter-spacing: -0.3rem;
  position: fixed;
  top: -2em;
  left: -0em;
  text-shadow: 4px 4px 1px hsl(0, 0%, 95%);
  color: hsla(0, 0%, 98%, 1);
  transform: skewY(-12deg);
  z-index: -1;
  font-weight: 600;

  @include media-breakpoint-up(xl) {
    font-size: 6vw;
  }
}

.app-container {
  margin-right: auto;
  margin-left: auto;
  background: hsla(0, 0%, 0%, 0.05);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  padding: 0.7rem;

  @media (min-width: 840px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
  }

  @include media-breakpoint-up(sm) {
    max-width: 840px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.channels {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(1, 1fr);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}
