.channel {
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;

  .header {
    border-bottom: 1px solid hsl(0, 0%, 94%);
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      color: hsl(0, 0%, 20%);
    }

    .message-count {
      color: hsl(0, 0%, 45%);
      font-size: 11px;
    }
  }

  .plot-container {
    flex-grow: 1;
    user-select: none;

    .rv-xy-plot__axis__tick__line {
      stroke: hsl(240, 6%, 75%);
    }
  }
}
