@import 'variables';
@import 'breakpoints';

.controls {
  padding: 0 11px;
  user-select: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.2s linear;
  height: 43px;

  @include media-breakpoint-up(md) {
    margin-bottom: 1rem;
    border-radius: 0px 0px 4px 4px;
  }

  .controls-right {
    display: flex;

    .expand {
      display: none;

      @include media-breakpoint-up(sm) {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 10px;
        margin-right: 10px;

        svg {
          stroke: hsl(0, 0%, 75%);
        }

        &.active {
          svg {
            stroke: hsl(0, 0%, 30%);
            stroke-width: 1.75;
          }
        }
      }
    }
  }
}
